:root {
  --border-color: #d9dfe4;
  --primary-color: #0059d9;
  --secondary-color: #000;
}

body {
  font-family: Arial, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.bayan__container {
  margin: 0 auto;
  padding: 0 1rem;
}

.bayan__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bayan__item {
  border-top: solid 0.1rem var(--border-color);
}

.icon-cross {
  opacity: 0;
  font-size: 0.7rem;
  transform: rotate(45deg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bayan__content {
  font-weight: 700;
  color: var(--primary-color);
}

.bayan__img {
  display: block;
  height: 0;
  padding: 0;
  margin: 0 auto;
  scale: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bayan__list:hover .icon-cross {
  opacity: 1;
}

.bayan__list:hover .bayan__content,
.bayan__radio:checked + .bayan__item-wrapper > .bayan__content {
  color: var(--secondary-color);
}

.bayan__radio {
  display: none;
}

.bayan__radio:checked + .bayan__item-wrapper > .icon-cross,
.bayan__item:hover .icon-cross {
  transform: rotate(0deg);
  opacity: 1;
}

.bayan__item:hover .bayan__img,
.bayan__radio:checked ~ .bayan__img {
  height: 10rem;
  padding: 1rem;
  scale: 1;
}
