:root {
  --border-color: #d9dfe4;
  --primary-color: #0059d9;
  --secondary-color: #000;
}

body {
  font-family: Arial, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.bayan__container {
  margin: 0 auto;
  padding: 0 1rem;
}

.bayan__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bayan__label {
  cursor: pointer;
}

.bayan__item {
  border-top: solid 0.1rem var(--border-color);
}

.icon-cross {
  opacity: 0;
  font-size: 0.7rem;
  transform: rotate(45deg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bayan__content {
  font-weight: 700;
  color: var(--primary-color);
}

.bayan__img {
  display: block;
  height: 0;
  padding: 0;
  margin: 0 auto;
  scale: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bayan__list:hover .icon-cross {
  opacity: 1;
}

.bayan__list:hover .bayan__content,
.bayan__radio:checked + .bayan__item-wrapper > .bayan__content {
  color: var(--secondary-color);
}

.bayan__radio {
  display: none;
}

.bayan__item:hover .icon-cross {
  transform: rotate(0deg);
  opacity: 1;
}

.bayan__item:hover .bayan__img,
.bayan__radio:checked ~ .bayan__img {
  height: 10rem;
  padding: 1rem;
  scale: 1;
}

.bayan__label:active > .bayan__item-wrapper > .bayan__content {
  color: var(--primary-color);
}

@media screen and (min-width: 820px) and (max-width: 1919px) {
  .bayan__container {
    width: 80%;
    padding: 0 2rem;
  }

  .bayan__content {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .bayan__title {
    font-size: 3rem;
    font-weight: 800;
  }

  .bayan__item:hover .bayan__img,
  .bayan__radio:checked ~ .bayan__img {
    height: 20rem;
  }

  .icon-cross {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1920px) {
  .bayan__container {
    width: 60%;
    padding: 0 4rem;
  }

  .bayan__content {
    font-size: 2rem;
    font-weight: 800;
  }

  .bayan__title {
    font-size: 5rem;
    font-weight: 900;
  }

  .bayan__item:hover .bayan__img,
  .bayan__radio:checked ~ .bayan__img {
    height: 30rem;
  }

  .icon-cross {
    font-size: 1.5rem;
  }
}
